* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  height: 100%;
  width: 60%;
  margin: auto;
}
.header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.logo {
  height: 4em;
  width: 4em;
  background-color: red;

  mix-blend-mode: multiply;
}
li {
  list-style-type: none;
  font-size: larger;
}
li:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.nav-link {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.search {
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: center;
}
.search input {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
}
.search input:focus {
  outline: none;
  border: 2px solid black;
}
button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;

  margin: 0;
  outline: none;
  overflow: visible;
  padding: 9px 15px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}

button:active:after {
  border-width: 0 0 0px;
}

button:active {
  padding-bottom: 10px;
}
.res-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.res-card {
  width: 300px;

  border-radius: 10px;
  padding: 10px;

  margin: 10px 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.res-card:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}
.res-logo {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}
.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  position: relative;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: lightgray;
}
